*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
body{
    height: 100vh;
}

/* Navigation bar styling */

nav{
    width: 100%;
    background-color: #161b22;
    display: flex;
    align-items: center;
    color: #eee;
    /* height: 80px; */
    padding: 16px 35px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

nav .ham-menu{
    display: none;
}

nav .logo{
    height: 100%;
   
}

nav .logo a img{
    height: 100%;
}

nav .form-div{
    margin: 0 16px;
    width: 20%;
}

nav .form-div form .search{
    width: 100%;
    outline: none;
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    border:  1px solid #2e343e;
    background: #161b22;
}

nav .form-div form input{
    background: #161b22;
    padding: 0 10px;
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    color: #eee;
}

nav .form-div  form input::placeholder{
    color: rgb(139, 139, 139);
    font-weight: 600;
}

nav .form-div form .search span{
    border:  1px solid #2e343e;
    background: #161b22;
    margin: 5px;
    color: #2e343e;
    font-size: 0.5rem;
    font-weight: 600;
    height: 100%;
    padding: 3px 6px;
    border-radius: 5px;
}

nav .links{
    margin: 0 10px;
    flex-grow: 1;
    font-size: 0.9rem;
}

nav .links ul{
    display: flex;
}

nav .links ul li{
    list-style: none;
    margin-left: 10px;
}

nav .icons{
    display: flex;
    flex-grow: 0.1;
    justify-self: flex-end;
    justify-content: space-between;
    
}

nav .icon1, .icon2, .icon3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .icons .drp-dwn-icon{
    margin-left: 5px;
    font-size: 0.6rem;
}

nav .icons .icon1 {
    position: relative;
    font-size: 1.1rem;
}

nav .icons .icon1 .status-indicator{
    position: absolute;
    top: -4px;
    left: 8px;
    z-index: 12;
    /* display: none; */
    width: 0.8rem;
    height: 0.8rem;
    color: #eee;
    background-image: linear-gradient(#54a3ff,#006eed);
    background-clip: padding-box;
    border: 2px solid #161b22;
    border-radius: 50%;
}

nav .icons .icon2 .add-icon {
    font-size: 1.3rem;
}

nav .icons .icon3 {
    display: flex;
}

nav .icons .icon3 .profile-icon{
    height: 25px;
    width: 25px;
}

nav .icons .icon3 .profile-icon img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* --------- End of NAV bar css ------- */
/* --------- End of NAV bar css ------- */



/* ---------- START OF MAIN STYLE ------- */

main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10%;
    height: 100%;
    font-size: 0.9rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 5% 20% auto 5%;
    /* grid-template-areas: 
    ". col1 col2 ."; */
    grid-template-areas:
    "tab tab tab tab"
    ". col1 col2 .";
    height: 100%;
}

.tabs{
    display: grid;
    grid-area: tab;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    height: 100%;
    width: 100%;
    font-size: 0.88rem;
    /* grid-template-columns: 5% 20% auto 5%;
    grid-template-areas: ". . tab-list ."; */
}
.tabs   .tabs-wrapper{
    display: grid;
    grid-template-columns: 5% 20% auto 5%;
    grid-template-areas: ". . tab-list .";
}

.tabs .tab-list{
    grid-area: tab-list;
    display: flex;
    align-items: flex-end;
}

.tabs .tab-list svg{
 fill: grey;
}

.tabs .tab-list .tab-list-item{
    list-style: none;
    margin-left: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs .tab-list .tab-list-item span:first-child{
    display: flex;
    margin-right: 7px;
}

.tabs .tab-list .repo-tab{
    font-weight: 600;
    color: #000;
    font-size: 0.9rem;
    border-bottom: 2px solid #be6859;
}


.col1{
    grid-area: col1;
    /* background-color: #a70777; */
    height: 100%;
    width: 100%;
    position: relative;
    padding: 16px;
    font-size: 0.9rem;
}

.col1 .profile-img{
    position: absolute;
    /* width: 100%; */
    height: 100%;
    /* max-width: 300px;
    max-height: 300px; */
}

.col1 .profile-img img{
    width: 100%;
    border-radius: 50%;
    position: relative;
    
}

.col1 .profile-img .img-wrapper{
    position: relative;
    /*top: -60px; */
}

.col1 .profile-img .img-wrapper .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #adadad;
    top: 70%;
    right: 0px;
}



.col1 .profile-img .profile-details{
    /* position: relative;
    top: 60%; */
}

.col1 .profile-img .profile-details h3{
    font-weight: 400;
    margin-bottom: 16px;
    color: rgb(121, 120, 120);
}

.col2{
    grid-area: col2;
    /* background-color: #006aff; */
    height: 100%;
    width: 100%;
    padding: 10px;
}
.col2 .search-field{
    padding: 10px 10px 15px 10px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}

.col2 .search-field .find-repo{
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    border:none;
   outline: none;
   border: 1px solid #dbdbdb;
}

.col2 .stats{
    border-bottom: 1px solid #dbdbdb;
    /* margin: 20px 0px; */
    padding: 15px 10px 15px 10px;
}

.col2 .stats span{
  
    /* border-bottom: 1px solid #dbdbdb; */
}


.col2 .repo{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 0.1fr;
    grid-template-areas: 
    "repo-name star-btn"
    "repo-desc star-btn"
    "repo-stats star-btn";
    border-bottom: 1px solid #dbdbdb;
    padding: 20px 10px;
}

.col2 .repo .reponame{
    grid-area: repo-name;
    margin-bottom: 10px;
    color: #58a6ff;
}

.col2 .repo .repo-desc{
    grid-area: repo-desc;
    word-wrap: break-word;
    padding: 10px 10px 10px 0;
    margin-bottom: 16px;
}

.col2 .repo .repo-desc p{
    font-size: 14px;
}

.col2 .repo .repo-stats{
    grid-area: repo-stats;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.col2 .repo .repo-stats .repo-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.col2 .repo .repo-stats .repo-icons .color-of-lang{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #e34c26;
}

.col2 .repo .repo-stats .repo-icons svg{
    fill: grey;
}

.col2 .repo .repo-stats .repo-icons span:first-child{
    display: flex;
    margin-right: 5px;
}
.col2 .repo .star-btn{
    grid-area: star-btn;
    /* padding: 6px 10px; */
    align-self: center;
    border-radius: 5px;
    border: 1px solid #c7c7c7 ;
    background: #fcfcfc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
}

.col2 .repo .star-btn .star-icon{
    font-size: 1.2rem;
    display: flex;
    margin-right: 5px;
}

























/* media queries*/


/* ------------------------------- */
/* --- tablet device ---  */
/* --------------------------------- */


@media screen and (min-width: 750px) and (max-width: 920px ){



    nav{
        font-weight: 600;
        font-size: 0.81rem;
    }

    nav .form-div{
        width: 28%;
        margin-right: 6px;
    }

    nav .icon1, .icon2, .icon3{
        margin-left: 10px;
    }

    nav .icons .icon2 .add-icon {
        font-size: 1.1rem;
    }

    nav .icons .icon3 .profile-icon{
        height: 20px;
        width: 20px;
    }
        
}


/* -------------------------------- */
/* ------- Mobile phone ------ */
/* ----------------------------------- */


@media screen and (max-width:  749px ){
    .col1 .profile-img .img-wrapper .circle,
    .tohide{
        display: none;
    }

    nav{
        justify-content: space-between;
    }

    nav .ham-menu{
        display: block;
        font-size: 2.5rem;
    }

    nav .logo{
        align-self: center;
        justify-content: center;
        justify-self: center;
    }

    nav .icons .icon1{
        font-size: 1.5rem;
    }

    nav .form-div, nav .links, nav .icons .icon2, nav .icons .icon3{
        display: none;
    }

    /* ----------- main body style --------------- */
    .tabs{
        /* grid-template-columns: auto;
        grid-template-areas: " tab-list"; */

    }

    .tabs .tabs-wrapper{
        padding: 0 10px;
        width: 100vw;
        overflow-x: auto;

        grid-template-columns:  auto;
        grid-template-areas: "tab-list";
    }

    .wrapper{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "col1" "tab" "col2";
        height: 100%;
    }

    .col1{
        height: 96px;
    }

    .col1 .profile-img{
        position: relative;
        display: flex;
        }

    .col1 .profile-img img{
        height: 100%;
        width: 100%;
    }

    .col1 .profile-details{
        /* width: 100%; */
        margin-left: 20px;
    }

    .col1 .profile-img .img-wrapper{
        position: relative;
    }
    
    .col1 .profile-img img{
        width: 100%;
        border-radius: 50%;
        position: relative;
        top: 0px;
    }


    .col2 .repo .repo-stats{
        width: 100%;
    }


}
